{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% load custom_filters %}

   <nav class="navbar navbar-expand-lg navbar-dark">
       <!-- Bootstrap class for a dark-themed navigation bar that expands on larger screens -->
       <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Home' %}</a>
       <!-- Bootstrap class for branding, typically used for the site's logo or title -->
       <a class="navbar-brand" href="#" onclick="goBack(); return false;">{% trans 'Previous' %}</a>
       <!-- Same as above, used for navigation links -->
       <a class="navbar-brand" href="{% url 'ContactsSheetBySearch' search_term %}">{% trans 'Contact Sheet' %}</a>
   </nav>

<div class="container mt-5">
  <!-- Bootstrap container class for responsive design, mt-5 adds margin top -->
  {% if photo %}
  <div class="row justify-content-center mt-4">
    <div class="col-md-auto">
      <a class="mt-2 text-white" href="{% url 'ContactsSheet' photo.checksum %}"><h1>{{ photo.sujet|proper_case }}</h1></a>
    </div>
  </div>
  {% endif %}
  <div class="row justify-content-center mt-4">
    <div class="col-md-10">
      <div class="photo-viewer text-center position-relative">
        {% if photo %}
        {% if photos.has_previous %}
          <a href="{% url 'photo_galleryBySearch' search_term %}?page={{ photos.previous_page_number }}" class="prev-btn" id="prev-btn"><</a>
        {% endif %}
        {% include "includes/_photo_image.html" %}
        {% with photo=photo %}
            {% include "includes/_photo_metadata.html" %}
        {% endwith %}
        {% with photo=photo %}
            {% include "includes/_technical_exif_info.html" %}
        {% endwith %}
        {% if photos.has_next %}
          <a href="{% url 'photo_galleryBySearch' search_term %}?page={{ photos.next_page_number }}" class="next-btn" id="next-btn">></a>
        {% endif %}
        {% else %}
        <div class="alert alert-secondary" role="alert">
            {% trans "No photos found for this search." %}
        </div>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  const prevBtn = document.getElementById('prev-btn');
  const nextBtn = document.getElementById('next-btn');

  document.addEventListener('keydown', function(event) {
    if (event.key === 'ArrowLeft' && prevBtn) {
      event.preventDefault();
      prevBtn.click();
    } else if (event.key === 'ArrowRight' && nextBtn) {
      event.preventDefault();
      nextBtn.click();
    }
  });
});
</script>
{% endblock %}
