{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% load custom_filters %}

   <nav class="navbar navbar-expand-lg navbar-dark">
       <a class="navbar-brand" href="{% url 'home' %}">Accueil</a>
       <a class="navbar-brand" href="#" onclick="goBack(); return false;">Précédent</a>
   </nav>

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-auto">
      <a class="mt-2 text-white" href="{% url 'ContactsSheet' photoRec.checksum %}"><h1>{{ photoRec.sujet|proper_case }}</h1></a>
      </div>
  </div>
  <div class="row">
    <div class="col-md-auto">
      <img src="{% url 'photo_Jpeg' photoRec.pkey 'big' %}" alt="{{ photoRec.sujet_dias|capfirst }}" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
    </div>
    <div class="row">
    <div class="col-md-auto">
      <p><strong>{{ photoRec.date }}</strong></p>
      <p>{{ photoRec.sujet_dias|capfirst }}</p>
      <p>{{ photoRec.commentaire }}</p>
      <ul>
        {% if photoRec.boite %}
          <li>Boîte: {{ photoRec.boite }}</li>
        {% endif %}
        {% if photoRec.rangee %}
          <li>Range: {{ photoRec.rangee }}</li>
        {% endif %}
        {% if photoRec.numero %}
          <li>Numéro: {{ photoRec.numero }}</li>
        {% endif %}
        <li>Niveau 1: {{ photoRec.premier_niveau }}</li>
        <li>Niveau 2: {{ photoRec.second_niveau }}</li>
        {% if photoRec.troisieme_niveau %}
          <li>Niveau 3: {{ photoRec.troisieme_niveau }}</li>
        {% endif %}
        {% if photoRec.nom_fichier_jpeg %}
          <li>Nom du fichier JPEG: {{ photoRec.nom_fichier_jpeg }}</li>
        {% endif %}
        {% if linktogooglemaps %}
          <a href="{{linktogooglemaps}}" rel="noopener noreferrer" target="_blank">Voir dans maps</a>
        {% endif %}
      </ul>

      <button id="edit-subject-btn">Modifier le sujet</button>

        <form id="subject-form" method="post" action="" style="display: none;">
            {% csrf_token %}
            {{ subject_form.as_p }}
            <button type="submit">Ajouter un sujet</button>
        </form>
    </div>
  </div>
</div>

<style>
#subject-form {
    color: white; /* Texte en blanc */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#subject-form input, #subject-form textarea {
    background-color: #444; /* Champ d'entrée sombre */
    color: white; /* Texte dans les champs en blanc */
    border: 1px solid #666; /* Bordure des champs */
}
</style>

{% endblock %}


{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var editButton = document.getElementById('edit-subject-btn');
    var form = document.getElementById('subject-form');
    var saveButton = form.querySelector('button[type="submit"]');

    editButton.addEventListener('click', function() {
        form.style.display = 'block';
    });

    saveButton.addEventListener('click', function() {
        // Après la soumission du formulaire
        form.style.display = 'none';
    });
});
</script>
{% endblock %}
