{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% load custom_filters %}

   <nav class="navbar navbar-expand-lg navbar-dark">
       <!-- Bootstrap class for a dark-themed navigation bar that expands on larger screens -->
       <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Home' %}</a>
       <!-- Bootstrap class for branding, typically used for the site's logo or title -->
       <a class="navbar-brand" href="#" onclick="goBack(); return false;">{% trans 'Previous' %}</a>
   </nav>

    <form method="post" class="form-inline">
        <!-- Bootstrap class for inline form layout -->
        {% csrf_token %}
        {% trans "Please enter a search term:" %}
        <div class="form-group mb-2">
            <!-- Bootstrap class for form groups, mb-2 adds margin bottom -->
            {{ form.search_term }}
            <!-- Assuming this renders a text input field for the search term -->
        </div>
        <button type="submit" class="btn btn-primary mb-2">{% trans "Search" %}</button>
        <!-- btn is a Bootstrap class for buttons, btn-primary gives it a primary color -->
    </form>

    {# Dark form styles are now centralized in static/css/custom.css #}

{% endblock %}